textarea{
    width: 600px;
    height: 400px;
}

img {
    display: block;
    margin: auto;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
}


section {
    margin-bottom: 15px;
}

.error{
    color: red;
}